<html>
    <head>
        <title>
           About
        </title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">

        <link rel="stylesheet" href="/stylesheets/app.css">

        

        <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>

		<style>
			body > .grid {
				height: 100%;
			}

			.column {
				max-width: 360px;
			}
			.ui.form .field > label {
				text-align: left;
			}
		</style>
		
       
    </head>
    <body>
        <div class="ui medium fixed inverted labeled icon menu">
			<div class="ui container">
                <div class="header item"><i class="code icon"></i>Blockchain as a Service (BaaS) & IoT Testbed</div>
                <a href="/" class="item"><i class="home icon"></i>Home</a>
                <a href="/testbed/user_manual_out" class="item"><i class="book icon"></i>User manual</a>
                <!-- <a href="/testbed/feedback" class="item"><i class="clipboard icon"></i>Feedback</a> -->
                <a href="/testbed/about_out" class="item"><i class="info icon"></i>About</a>
                <!-- <div class="right menu"> <a href="/logout" class="red item"><i class="sign-out icon"></i>Logout</a></div> -->
               
            </div>
        </div>
        <div class="ui main container segment">
            <div class="ui huge header">Blockchain Testbed</div>   
                
                <p>
                <h4>Developed by</h4> 
                &emsp; R. Yuvaraj (Back end & Front end) </br>
                &emsp;    Ph.D, NSC Lab, IIIT, Allahabad. </br>
                &emsp;    Email:PCL2016003@iiita.ac.in</br>
                <h4>Guidance</h4>
                &emsp;    S. Venkatesan  </br>
                &emsp;    Associate Professor, IIIT Allahabad.</br>
                &emsp;    Email: venkat@iiita.ac.in</br>
                <h4>Thanks</h4> 
                &emsp;    Suhaib Khan (Front End Support)</br>
                &emsp;    B.Tech, IIIT, Allahabad.</br>
                &emsp;    Email: IIB2019039@iiita.ac.in
                
                <h4>Special Thanks</h4>
                &emsp;    Department of Science and Technology (DST)</br>
                &emsp;    Ministry of Human Resources Development (MHRD)</br>
                
                </p>
                For any queries contact us through mail.
            </div>
         
            
        </div>
</body>
</html>


