<%- include ("./partials/header") %>

<div class="ui main container segment">
    <div class="ui huge header">Blockchain Testbed</div>   
    <h4>Developed by</h4> 
                &emsp; R. Yuvaraj (Back end & Front end) </br>
                &emsp;    Ph.D, NSC Lab, IIIT, Allahabad. </br>
                &emsp;    Email:PCL2016003@iiita.ac.in</br>
                <h4>Guidance</h4>
                &emsp;    S. Venkatesan  </br>
                &emsp;    Associate Professor, IIIT Allahabad.</br>
                &emsp;    Email: venkat@iiita.ac.in</br>
                <h4>Thanks</h4> 
                &emsp;    Suhaib Khan (Front End Support)</br>
                &emsp;    B.Tech, IIIT, Allahabad.</br>
                &emsp;    Email: IIB2019039@iiita.ac.in
                
                <h4>Special Thanks</h4>
                &emsp;    Department of Science and Technology (DST)</br>
                &emsp;    Ministry of Human Resources Development (MHRD)</br>
                
                </p>
                For any queries contact us through mail.
    </div>
 
    
</div>

<%- include ("./partials/footer") %>