<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/magic.js"></script>
<h1>Quote: <%=quote%> </h1>
<form method="post" id="changeQuote">
    <input
        type="text"
        placeholder="Set Quote of the day"
        name="quote"
        id="value-name"
    />
    <input type="submit" value="Save">
</form>