<%- include ("./partials/header") %>
<div class="ui main container segment">
    <div class="ui huge header">Links</div>   
    <div class="links_ethst">
        <h4><a href="http://localhost:3000" target="_blank">Ethstats</a></h4>
    </div>   
    <div class="links_graf">
        <h4><a href="http://localhost:3010" target="_blank">Grafana</a></h4>
    </div>   
    <div class="links_prom">
        <h4><a href="http://localhost:9090" target="_blank">Prometheus</a></h4>
    </div>   
    <div class="links_remix">
        <h4><a href="https://remix.ethereum.org" target="_blank">Remix IDE</a></h4>
    </div>
</div>
   
<%- include ("./partials/footer") %>
