<%- include ("./partials/header") %>

<div class="ui main container segment">
    <div class="ui header" style="font-size: 2em;">Monitor</div>
    
    <div style="font-size: 1.5em;">Using the below links you can monitor , query stats from the deployed blockchain network</div>
    <br>
    <!-- <div class="ui cards">
        
          <div class="ui card">
        

            <div class="content">
                <div class="header">Ethstats</div>
                <div class="center aligned description">
                    <p>Visualizing the blockchain stats.</p>
                    
                  </div>
               
              </div>
              <div class="ui bottom attached button">
                <a href="http://103.142.225.56:3000" target="_blank">Ethstats</a>
              </div>
  
      </div> -->
    
    
      <div class="ui card">
        

        <div class="content">
            <div class="header">Grafana</div>
            <div class="center aligned description">
                <p>Modifiable Web interface for visualizing the blockchain stats. </p>
                <p>Usrname: User Password: start222 </p>
              </div>
           
          </div>
          <div class="ui bottom attached button">
            <a href="http://103.142.225.56:3010" target="_blank">Grafana</a>
          </div>

  </div>

  
  <div class="ui card">
        

    <div class="content">
        <div class="header">Prometheus</div>
        <div class="center aligned description">
            <p>Write Queries and graph your blockchain stats.</p>
            
          </div>
       
      </div>
      <div class="ui bottom attached button">
        <a href="http://103.142.225.56:9091/targets" target="_blank">Prometheus</a>
      </div>

</div>

<div class="ui card">
        

    <div class="content">
        <div class="header">Power Stats</div>
        <div class="center aligned description">
            <p>Monitor power usage of raspberry device at http://103.142.225.56:8080/frontail. (experimental). </p>
            
          </div>
       
      </div>
      <div class="ui bottom attached button">
        <a href="http://103.142.225.56:8080/frontail/" target="_blank">Power Stats</a>
      </div>

</div>


<!-- <div class="ui raised card">
        

    <div class="content">
        <div class="header">Remix IDE</div>
        <div class="center aligned description">
            <p>Deploy your smart contracts at web provider http://103.142.225.56:8541</p>
            
          </div>
       
      </div>
      <div class="ui bottom attached button">
        <a href="http://remix.ethereum.org" target="_blank">Remix IDE</a>
      </div>

</div> -->

    </div>
 
</div>

<%- include ("./partials/footer") %>