<html>
  <head>
    <title>Feedbacks</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
    />

    <link rel="stylesheet" href="/stylesheets/app.css" />

    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>

    <style>
      body > .grid {
        height: 100%;
      }

      .column {
        max-width: 360px;
      }
      .card__container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
		justify-content: center;
		align-items: center;
      }
      .card__container__card {
        width: 300px;
      }
    </style>
  </head>
  <body>
    <div class="ui medium fixed inverted labeled icon menu">
      <div class="ui container">
        <div class="header item">
          <i class="code icon"></i>Blockchain as a Service (BaaS) & IoT Testbed
        </div>
        <a href="/" class="item"><i class="home icon"></i>Home</a>
        <a href="/testbed/user_manual_out" class="item"
          ><i class="book icon"></i>User manual</a
        >
        <!-- <a href="/testbed/feedback" class="item"><i class="clipboard icon"></i>Feedback</a> -->
        <a href="/testbed/about_out" class="item"
          ><i class="info icon"></i>About</a
        >
        <!-- <div class="right menu"> <a href="/logout" class="red item"><i class="sign-out icon"></i>Logout</a></div> -->
      </div>
    </div>
    <div style="margin-top: 15vh; width:100vw">
      <h1 class="title text-center" style="text-align: center">
        Current Feedbacks
      </h1>
      <div class="card__container">
        <% for(let feedback of feedbacks) {%>

        <div
          class="ui card m-3 card__container__card"
          style="margin: 2rem 1rem"
        >
          <div class="content">
            <i class="right floated ui id badge icon"></i>

            <div class="header">
              <h3 class="mb-3">User: <%= feedback.user.username %></h3>
              <p class="mb-3">Feedback: <%= feedback.feedback %> </p>
             
            </div>

            
          </div>
          <div class="extra content">
            
            <form action="/remove-feedback" class="ui form" method="POST">
              <input class="ui basic red button" type="text" style="display: none;" value=<%= feedback._id %> name="feedback_id" />
              <input class="ui basic red button" type="submit" value="Remove Feedback"  />

            </form>
          </div>
        </div>

        <% } %>
      </div>
    </div>
  </body>
</html>
