<html>
    <head>
        <title>
           Signup form
        </title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <link rel="stylesheet" href="/stylesheets/app.css">

		
		
		<style>
			body > .grid {
				height: 100%;
			}

			.column {
				max-width: 360px;
			}

			.ui.form .field > label {
				text-align: left;
			}
		</style>
		
       
    </head>
    <body>
		<div class="ui medium fixed inverted labeled icon menu">
            <div class="ui container">
            <div class="header item"><i class="code icon"></i>Blockchain as a Service (BaaS) & IoT Testbed</div>
            <a href="/" class="item"><i class="home icon"></i>Home</a>
            <a href="/testbed/user_manual" class="item"><i class="book icon"></i>User manual</a>
            <a href="/testbed/feedback" class="item"><i class="clipboard icon"></i>Feedback</a>
            <a href="/testbed/about" class="item"><i class="info icon"></i>About</a>
            <div class="right menu"> <a href="/logout" class="red item"><i class="sign-out icon"></i>Logout</a></div>
        </div>
       
    </div>



<div class="ui middle aligned center aligned grid">
	<div class="column">
		
			<div class="ui segment" style="background-color: #f2f0f0;">
				<h1><i class="connectdevelop icon"></i></h1>
			<h2>Sign up to App</h2>
				<div class="ui center aligned basic segment">
					<form class="ui form">
						<div class="required field">
							<label>Username</label>
							<div class="ui left icon input">
								<input type="text" name="username" placeholder="Username">
								<i class="small user icon"></i>
							</div>
						</div>
						<div class="field">
							<label>Email</label>
							<div class="ui left icon input">
								<input type="text" name="email" placeholder="abc@xyz.com">
								<i class="small envelope icon"></i>
							</div>
						</div>

						<div class="field">
							<label>Institute Name</label>
							<div class="ui left icon input">
								<input type="text" name="institute">
								<i class="small building icon"></i>
							</div>
						</div>



						<div class="required field">
							<label>Password</label>
							<div class="ui left icon input">
								
								<input type="password" name="password" placeholder="Password">
								<i class="small lock icon"></i>
							</div>
						</div>
						<div class="ui submit button">Submit</div>
					</form>

					<div class="ui divider"></div>
				</div>
			</div>
					
				
			
			<div class="ui segment"  style="background-color:#f2f0f0;">
				Already registered? <a href="/login">Log In</a>
			</div>
			
		
		<div class="ui bottom attached hidden negative message" id="m1">
			
			<i class="small close icon"></i>
			<div class="content">
			
			
			<i class="exclamation small icon"></i>
		  </div>
		</div>
		<div class="ui bottom attached hidden positive message" id="m2">
			
			<i class="small close icon"></i>
			<div class="content">
			
			
			<i class="exclamation small icon"></i>
			Your Account has been created
		  </div>
		</div>
		<div class="ui bottom attached hidden negative message" id="m3">
			
			<i class="small close icon"></i>
			<div class="content">
			
			
			<i class="exclamation small icon"></i>
			Details Incorrect
		  </div>
		</div>
	</div>
</div>

<script
		src="https://code.jquery.com/jquery-3.1.1.min.js"
		integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
		crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
<script>

$('.message .close')
  .on('click', function() {
    $(this)
      .closest('.message')
      .transition('fade')
    ;
  })
;

$('.ui.form').form({fields:{username:{
        identifier : 'username',
       
        rules: [
          {
            type   : 'empty',
            prompt : 'Please fill a username'
          }
        ]
      },password:{
        identifier : 'password',
        
        rules: [
          {
            type   : 'empty',
            prompt : 'Please fill a password'
          }
        ]
      },email:{
        identifier : 'email',
        optional   : true,
        rules: [
          {
            type   : 'email',
            prompt : 'Please enter a valid e-mail'
          }
        ]
      }},

	  inline:true,

	  onSuccess:function(event)
	  {
		$('.ui.form.success').attr('class','ui form');
	  }

	  
	  
	}).api({



		url:'/signup',
		method:'POST',
		serializeForm: true,

		successTest: function(response) {
		// test whether a JSON response is valid
		
		if(response&&(response.knownError||response.message))
		{
			return true;
		}
		else
		return false;
		},

		onSuccess: function(response) {
			if(response.knownError)
			{
				$('#m1').attr('class','ui bottom attached negative visible message');
				$('#m1 .content').before(response.knownError.message);
			}
			else if(response.message)
			{
				$('#m2').attr('class','ui bottom attached positive visible message');
				
				
			}


		},
		onFailure: function(response) {
		// request failed, or valid response but response.success = false

			$('#m3').attr('class','ui bottom attached negative visible message');
		}
});


</script>


</body>
</html>