<%- include ("./partials/header") %>
<div class="ui main container segment">
    <div class="ui huge header">Feedback</div>   
        <br>
        <br>
        <br>
        <h2 class="red-text" style="text-align: center;color: hsl(0, 81%, 50%); "">Thank You....!</h2>
</div>        
    

<%- include ("./partials/footer") %>