<!DOCTYPE html>
<html>
    <head>
        <title>
            Blockchain TestBed
        </title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">

        <link rel="stylesheet" href="/stylesheets/app.css">

        

        <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
       <script src="/socket.io/socket.io.js"></script>
    </head>
    <body>
        <div class="ui medium fixed inverted labeled icon menu">
            <div class="ui container">
            <div class="header item"><i class="code icon"></i>Blockchain as a Service (BaaS) & IoT Testbed</div>
            <a href="/" class="item"><i class="home icon"></i>Home</a>
            <a href="/testbed/user_manual" target="_blank" class="item"><i class="book icon"></i>User manual</a>
            <a href="/testbed/feedback"  target="_blank" class="item"><i class="clipboard icon"></i>Feedback</a>
            <a href="/testbed/about"  target="_blank" class="item"><i class="info icon"></i>About</a>
            <div class="right menu"> <a href="/logout" id="logout" class="red item"><i class="sign-out icon"></i>Logout</a></div>
        </div>
 
    </div>


